{
  "published_database": "published-posts.json",
  "source": {
    "feed": "https://www.jw.org/ru/whats-new/rss/WhatsNewWebArticles/feed.xml",
    "refresh_interval": 12000
  },
  "telegram": {
    "token": "5244812771:AAFy_n-DGY5c1J2-2PL236pxmJ1UM8mBabQ",
    "channel": "JW_ORG_whats_new"
  },
  "status_monitor_port": null
}
